* { 
	padding: 0; 
	margin: 0; 
	outline: 0; 
}

html,
body { 
	height: 100%;
	font-size: 10px;
}

img { 
	border: 0; 
	vertical-align: middle; 
}

.bg { 
	position: relative; 
	min-height: 100%;
}

.text{ 
	display: block;
	text-align: center;
	font-family: sans-serif;
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translateY(-50%) translateX(-50%);
  	-webkit-transform: translateY(-50%) translateX(-50%);
}

.text h1{
	font-size: 10em;
}

.text button{
	font-size: 3em;
	background: transparent;
	border: 3px solid white;
	color: white;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
}